<div class="sb2-2-3">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inn-sp">
                <div class="inn-title">
                    <h4>Calendrier des reservations de salles</h4>
                    <p>All about Matieres, program structure, fees, best course lists (ranking), syllabus, teaching techniques and other details.</p>
                </div>
          
                <div class="container">
                  <full-calendar [options]="calendarOptions"></full-calendar>
                </div>
            </div>
        </div>
    </div>
</div>
