<div class="col-md-12">
  <div class="box-inn-sp admin-form">
<div class="sb2-2-add-blog sb2-2-1">
<h2>Ajouter une nouvelle matière</h2>
<p>Veuillez remplire tous les champs pour ajouter une matière:</p>


<div class="tab-content">

  <div class="box-inn-sp">
      <div class="inn-title">
          <h4>Course Information</h4>
          <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
      </div>
      <div class="bor">
          <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <div class="row">
              <div class="input-field col s12"  [hidden]="matiere.id===undefined" >
                <div class="form-group"  >
                  
                  <input  type="text" class="form-control" id="id" name="id" [(ngModel)]="matiere.id" formControlName="id" readonly>
                  <label *ngIf="matiere.id===undefined" for="id" class="">Id</label>
                </div>

              </div>
                
              </div>
              <div class="row">
                  <div class="input-field col s12">
                    <div class="form-group"  >
                      <input required="true" type="text" class="form-control" id="nom" name="nom" [(ngModel)]="matiere.nom" formControlName="nom" class="validate">
                      <label *ngIf="matiere.id===undefined" for="nom" class="">Nom de la matière</label>

                    </div>
                     
                  </div>
                  <div class="input-field col s12">
                    <div class="form-group"  >
                      <input required="true" type="text" class="form-control" id="libelle" name="libelle" [(ngModel)]="matiere.libelle" formControlName="libelle">
                      <label *ngIf="matiere.id===undefined" for="libelle">Libelle/Code de la matière</label>
                  
                    </div>
                     </div>
              </div>
              <div class="row">
                  <div class="input-field col s12">
                    <div class="form-group"  >
                      <textarea class="materialize-textarea" id="description" name="description" [(ngModel)]="matiere.description" formControlName="description"></textarea>
                      <label *ngIf="matiere.id===undefined">Descriptions: </label>
                      </div>
                  </div>
              </div>
                 
              <div class="row">
                  <div class="input-field col s12">
                      <i class="waves-effect waves-light btn-large waves-input-wrapper" ><input type="submit" class="waves-button-input" value="Submit"></i>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>


</div>
</div>
  </div>
