

<div class="inn-title">
  <h4>Affecter une formation a un client</h4>
  <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
</div>
<div class="bor">
  <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <div class="row">
      <div class="input-field col s12"  [hidden]="panier.id===undefined" >
        <div class="form-group"  >
          
          <input  type="text" class="form-control" id="id" name="id" [(ngModel)]="panier.id" formControlName="id" readonly>
          <label *ngIf="panier.id===undefined" for="id" class="">Id</label>
        </div>

      </div>
        
      </div>
      <div class="row">
         
          <div class="input-field col s12">
            <div class="form-group"  >
              <mat-form-field appearance="fill" >

                  <mat-label>Formation</mat-label>
                  <mat-select 
                 
                  [disabled]="idc!==undefined"
                     [compareWith]="compareObjects"
                     [(value)]="sClient" class="form-control" 
                     id="client" 
                     data-cy="client" 
                     name="client" 
                     formControlName="client" 
                     (selectionChange)="onChange($event)"
                     >
                  <mat-option>None</mat-option>
                  <mat-option selected="sClient.id===client.id" *ngFor="let client of clients" [value]="client">{{client.nom}} </mat-option>
                  </mat-select>
              </mat-form-field>
      </div>
             </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
          <div class="form-group" >
  <label class="form-label" for="matiere">Formations</label>
  <ng-multiselect-dropdown
        [(ngModel)]="selectedItemsRoot"
        [placeholder]="'Choisir les formation du client'"
        [settings]="dropdownSettings"
        [data]='dropdownList'
       
        class="form-control" id="formation" data-cy="formation" name="formation" formControlName="formation"
      >
      </ng-multiselect-dropdown>
</div>
          </div>
      </div>
         
      <div class="row">
          <div class="input-field col s12">
              <i class="waves-effect waves-light btn-large waves-input-wrapper" ><input type="submit" class="waves-button-input" value="Submit"></i>
          </div>
      </div>
  </form>
</div>

