
                 
                  
    
<div class="col-md-12">
  <div class="box-inn-sp admin-form">
<div class="sb2-2-add-blog sb2-2-1">
<h2>Ajouter une nouveau formateur</h2>
<p>Veuillez remplire tous les champs pour ajouter un formateur:</p>


<div class="tab-content">

  <div class="box-inn-sp">
      <div class="inn-title">
          <h4>formateur Information</h4>
          <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
      </div>
      <div class="bor">
          <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <div class="row">
              <div class="input-field col s12"  [hidden]="formateur.id===undefined" >
                <div class="form-group"  >
                  
                  <input  type="text" class="form-control" id="id" name="id" [(ngModel)]="formateur.id" formControlName="id" readonly>
                  <label *ngIf="formateur.id===undefined" for="id" class="">Id</label>
                </div>

              </div>
                
              </div>
              <div class="row">
                  <div class="input-field col s12">
                    <div class="form-group"  >
                      <input required="true" type="text" class="form-control" id="nom" name="nom" [(ngModel)]="formateur.nom" formControlName="nom" class="validate">
                      <label *ngIf="formateur.id===undefined" for="nom" class="">Nom du formateur</label>

                    </div>
                     
                  </div>
                  <div class="input-field col s12">
                    <div class="form-group"  >
                      <input required="true" type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="formateur.prenom" formControlName="prenom">
                      <label *ngIf="formateur.id===undefined" for="libelle">prenom du formateur</label>
                  
                    </div>
                     </div>
                     
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <div class="form-group"  >
                    <input required="true" type="text" class="form-control" id="password" name="password" [(ngModel)]="formateur.password" formControlName="password" class="validate">
                    <label *ngIf="formateur.id===undefined" for="nom" class="">password du formateur</label>

                  </div>
                   
                </div>
                <div class="input-field col s12">
                  <div class="form-group"  >
                    <input required="true" type="text" class="form-control" id="userName" name="userName" [(ngModel)]="formateur.userName" formControlName="userName">
                    <label *ngIf="formateur.id===undefined" for="libelle">userName du formateur</label>
                
                  </div>
                   </div>
             
                   
            </div>
       
            <div class="row">
              <div class="input-field col s12">
                <div class="form-group"  >
                  <input required="true" type="number" class="form-control" id="age" name="age" [(ngModel)]="formateur.age" formControlName="age" class="validate">
                  <label *ngIf="formateur.id===undefined" for="nom" class="">age du formateur</label>

                </div>
                 
              </div>
              <div class="input-field col s12">
                <div class="form-group"  >
                  <input required="true" type="text" class="form-control" id="cin" name="cin" [(ngModel)]="formateur.cin" formControlName="cin">
                  <label *ngIf="formateur.id===undefined" for="libelle">cin du formateur</label>
              
                </div>
                 </div>
                 
          </div>
            <div class="row">
              <div class="input-field col s12">
                <div class="form-group"  >
                  <input required="true" type="text" class="form-control" id="email" name="email" [(ngModel)]="formateur.email" formControlName="email">
                  <label *ngIf="formateur.id===undefined" for="libelle">email du formateur</label>
              
                </div>
                 </div>
              <div class="input-field col s12">
                <div class="form-group"  >
                  <input required="true" type="text" class="form-control" id="salaire" name="salaire" [(ngModel)]="formateur.salaire" formControlName="salaire" class="validate">
                  <label *ngIf="formateur.id===undefined" for="nom" class="">salaire du formateur</label>

                </div>
                 
              </div>
          
          </div>
          <div class="row">
            <div class="input-field col s12">
              <div class="form-group"  >
                <input required="true" type="date" class="form-control" id="dernierPaiement" name="dernierPaiement" [(ngModel)]="formateur.dernierPaiement" formControlName="dernierPaiement">
                <label *ngIf="formateur.id===undefined" for="libelle">dernier Paiement</label>
            
              </div>
               </div>
       
        
        </div>
              <div class="row">
                  <div class="input-field col s12">
                    <div class="form-group"  >
                      <input type="file"  (change)="onFileChanged($event)">
                      <img [src]="imgURL" height="200" *ngIf="imgURL">   
                       
                     
                      </div>
                  </div>



                  
              </div>
             
             
                 
              <div class="row">
                  <div class="input-field col s12">
                      <i class="waves-effect waves-light btn-large waves-input-wrapper" ><input type="submit" class="waves-button-input" value="Submit"></i>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>


</div>
</div>
  </div>
