

      <div class="inn-title">
        <h4>Formations Details</h4>
        <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
    </div>
    <div class="bor">
<div class="container">
    <mat-card class="m-4">
      <mat-card-title>Information sur la formation
      </mat-card-title>
      <h4>{{formation?.nom}}</h4>
      <mat-card-subtitle> Liste des matieres </mat-card-subtitle>
      <div class="row">
        <div class="card m-3" style="width: 18rem;" *ngFor="let matiere of matieres">
          <div class="text-end">
            <button class="btn  btn-outline-danger m-1" (click)="unAssign(matiere.id)">
              <i class="bi bi-folder-minus text-end" ></i>
            </button>
          </div>
          
         
          <div class="card-body">
            
            <h5 class="card-title">{{matiere.nom}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{matiere.libelle}}</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
          </div>
        </div>

      </div>
      
      
    </mat-card>
</div>
</div>