<div class="container com-sp pad-bot-70 pg-inn">
    <div class="col-md-2"></div> 
<div class="col-md-8">
    <div class="cor-mid-img">
        <img src="/assets/images/course.jpg" alt="">
    </div>
    <div class="cor-con-mid">
        <div class="cor-p1">
            <h2>{{matiere?.nom}}</h2>
            <span>Category: Software Testing</span>
           
        </div>
        <div class="cor-p4">
            <h3>Course Details:</h3>
          <p>
            {{matiere?.description}}

          </p>  
        </div>
        
    
        <div class="cor-p6">
            <h3>Student Reviews</h3>
            <div class="cor-p6-revi">
                <div class="cor-p6-revi-left">
                    <img src="/assets/images/4.jpg" alt="">
                </div>
                <div class="cor-p6-revi-right">
                    <h4>Rachel Britain</h4>
                    <span>Date: 12may, 2017</span>
                    <p>Mauris elementum et libero ac pharetra. Proin tristique dapibus tellus, lacinia blandit mi tincidunt at. Vivamus vitae interdum felis. Pellentesque congue mollis erat in imperdiet.</p>
                </div>
            </div>
            <div class="cor-p6-revi">
                <div class="cor-p6-revi-left">
                    <img src="/assets/images/4.jpg" alt="">
                </div>
                <div class="cor-p6-revi-right">
                    <h4>Rachel Britain</h4>
                    <span>Date: 12may, 2017</span>
                    <p>Mauris elementum et libero ac pharetra. Proin tristique dapibus tellus, lacinia blandit mi tincidunt at. Vivamus vitae interdum felis. Pellentesque congue mollis erat in imperdiet.</p>
                </div>
            </div>
            <div class="cor-p6-revi">
                <div class="cor-p6-revi-left">
                    <img src="/assets/images/4.jpg" alt="">
                </div>
                <div class="cor-p6-revi-right">
                    <h4>Rachel Britain</h4>
                    <span>Date: 12may, 2017</span>
                    <p>Mauris elementum et libero ac pharetra. Proin tristique dapibus tellus, lacinia blandit mi tincidunt at. Vivamus vitae interdum felis. Pellentesque congue mollis erat in imperdiet.</p>
                </div>
            </div>
            <div class="cor-p6-revi">
                <div class="cor-p6-revi-left">
                    <img src="/assets/images/4.jpg" alt="">
                </div>
                <div class="cor-p6-revi-right">
                    <h4>Rachel Britain</h4>
                    <span>Date: 12may, 2017</span>
                    <p>Mauris elementum et libero ac pharetra. Proin tristique dapibus tellus, lacinia blandit mi tincidunt at. Vivamus vitae interdum felis. Pellentesque congue mollis erat in imperdiet.</p>
                </div>
            </div>
        </div>
        <div class="cor-p6">
            <h3>Write Reviews</h3>
            <div class="cor-p7-revi">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="text" class="validate">
                            <label>Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="text" class="validate">
                            <label>Email id</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea class="materialize-textarea"></textarea>
                            <label>Message</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="waves-effect waves-light btn-book waves-input-wrapper" ><input type="submit" value="Submit" class="waves-button-input"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>