<div class="cor-p6">
    <h3>Avis des etudiants</h3>
    <div *ngFor="let revue of revues" class="cor-p6-revi">
        <div class="row">
            <div class="col-2">
                <div class="">
                    <img src="/assets/images/4.jpg" alt="">
                </div>

            </div>
            <div class="col-8">
                <div class="cor-p6-revi-right">
                    <h4>{{revue.utilisateur?.nom}} {{revue.utilisateur?.prenom}}</h4>
                    <span>{{ revue.date  }}</span>
                    <p>{{revue.commentaire}}</p>
                </div>
                
            </div>
            <div class="col-2" *ngIf="revue.utilisateur?.id===idUser">
                <div class="">
                    <button  class="btn  btn-light m-1" (click)="delete(revue.id!)">
                        <i class="bi bi-x-square"></i>
                    </button>
                  </div>
                
            </div>
            

        </div>
        
        
       
        
    </div>
</div>