/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";



.sign-in-dialog >  mat-dialog-container {
    padding: 0px;
    background-color: transparent;
}

body{
     font-family: 'Open Sans', sans-serif;
     padding-right: 0px !important;
     
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
 

